.App {
  text-align: center;
  border: 0.5px solid lightgray;
  margin: 0 auto;
  margin-top: 20px;
  width: 70vw;
}
.box {
  margin: 0 auto;
  margin-top: 20px;
  width: 70vw;
  background-color: lightgray;
  height: 100px;
}
hr {
  width: 70vw;
}
.issuedisplay {
  border: 0.5px solid lightgray;
  margin: 0 auto;
  width: 70vw;
}
.description {
  border: 0.5px solid lightgray;
  margin: 0 auto;
  width: 50vw;
  padding: 10px;
}
.header {
  margin: 0 auto;
  width: 50vw;
  background-color: rgb(230, 228, 228);
  height: 70px;
  border: 0.5px solid lightgray;
  padding: 10px;
}
#tag {
  font-size: 30px;
  color: rgb(174, 170, 170);
}
#anothertag {
  color: rgb(174, 170, 170);
}
#moretags {
  color: rgb(147, 142, 142);
  padding-top: 10px;
}
#issuesbox {
  padding-top: 35px;
  margin: 10px;
}
#open, .showopen {
  color: white;
  background-color: rgb(37, 194, 37);
  font-weight: bold;
}
.showopen {
  width: 90px;
  padding: 3px;
}
nav {
  background-color: black;
  color: white;
  text-decoration: none;
  height: 50px;
  font-weight: bold;
  padding: 10px;
}
img {
  height: 40px;
  width: 40px;
  border: 1px solid black;
}
#comments {
  border: 1px solid white;
}
input {
  background-color: black;
  color: gray;
  border: 1px solid gray;
  margin-bottom: 10px;
}
#gotoissues {
  background-color: rgb(238, 235, 235);
  width: 150px;
  height: 70px;
  font-size: 20px;
  border-radius: 10px;

}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
